* {
box-sizing: border-box;
padding: 0;
margin: 0;
outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wheel {
    position: relative;
    height: 500px;
    width: 500px;
}

.sa {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 8px solid black;
}

span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.spa {

}